.GroupList {
  flex: 2 1 0;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--main-gray);
  box-shadow: 2px 2px #bbb;
  padding-bottom: 5px;
}
