.BoardList {
  flex: 8 1 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.allBoardsHeader {
  font-size: 8px;
  margin: 10px 20px;
  padding: 0 10px;
  line-height: 0.5em;
  color: white;
  background: black;
  border-radius: 5px;
}

.addGroupMessage {
  margin: 2rem auto 0 auto;
}

.BoardList hr {
  border-top: 4px solid var(--main-purple-light);
  width: 100%;
}