.Modal {
  position: fixed;
  margin: auto;
  top: 6rem;
  width: 56rem;
  height: 70vh;
  color: black;
  background: linear-gradient(
    to bottom right,
    var(--main-purple-light),
    white,
    white,
    white
  );
  border-radius: 5px;
  z-index: 15;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: #bbb 3px 3px;
  transition: display ease-in 0.2s;
}
