.Modal {
  position: fixed;
  margin: auto;
  top: 12rem;
  width: 44rem;
  color: black;
  background: white;
  border-radius: 5px;
  z-index: 10;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
