.Layout {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-family: inherit;
  height: 100vh;
}

.Layout h1 {
  font-family: inherit;
}

.header {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
