.BoardItem {
  height: 5.4rem;
  cursor: pointer;
  color: white;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 7px;
  max-height: 5.4rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.addBoard {
  background: #ddd;
  color: black;
}

.BoardItem p {
  z-index: 1;
  line-height: 100%;
  margin-right: 0.5em;
  font-weight: 600;
}

.BoardItem:hover {
  opacity: 0.8;
}
