.Toolbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--main-purple-light);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.ToolbarHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  background: black;
}

.ToolbarHeader h1 {
  font-family: "Satisfy", cursive;
  font-size: 36px;
  line-height: 36px;
  padding: 0 5px;
}

.TbButtonWrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.Toolbar button {
  height: 35px;
  margin: 0 5px;
  background: hsla(0, 0%, 100%, 0.4);
  z-index: 10;
  color: inherit;
  border: none;
  color: #fff;
  font-weight: 700;
  width: auto;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 10px;
}

.Toolbar button:hover {
  background: var(--main-purple-light);
}

.Toolbar a {
  height: 85%;
}
