.GroupItem {
  width: 80%;
  background: var(--main-purple-light);
  color: var(--main-cream);
  border: none;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem 0;
  cursor: pointer;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.GroupItem p {
  line-height: 1rem;
}

.GroupItem:hover {
  background: var(--main-purple-med);
}

.addGroup {
  background: #ddd;
  color: black;
  width: 60%;
  font-weight: 500;
}

.addGroup:hover {
  background: #ddd;
  opacity: 0.8;
}
