.GroupAnchor {
  width: 80%;
  background: var(--main-purple-light);
  color: var(--main-cream);
  border: none;
  border-radius: 3px;
  text-align: center;
  margin: 0.5rem 0;
  cursor: pointer;
  line-height: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.GroupAnchor:hover {
  background: var(--main-purple-med);
}
