.LoginForm {
  width: 36rem;
  background: #edebf0;
  box-shadow: 2px 2px #bbb;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 24rem;
  border: 2px solid black;
  margin-top: 2rem;
  align-items: center;
}

.LoginForm h3 {
  color: #6d0ff9;
}

.formBody {
  display: flex;
  flex-flow: column;
  width: 85%;
}

.inputLabel {
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  margin: 20px auto 0;
}

.email,
.password {
  width: 50%;
  height: 30px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 3px;
}

.submit {
  width: 30%;
  height: 30px;
  margin: 25px auto;
  background: #6d0ff9;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover {
  background: #aa73fd;
}

.signUp {
  width: 25%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  font-size: 0.9em;
}
