.ImageCarousel {
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.CarouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
}

.imgOption {
  width: 32%;
  margin-right: 0.6rem;
  cursor: pointer;
  height: 100%;
  border: none;
  border-radius: 2px;
}

.imgOption:hover {
  opacity: 0.8;
}

.ImageChunk {
  display: flex;
  width: 85%;
  height: 5.5rem;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.ImageChunk::-webkit-scrollbar {
  display: none;
}

.arrowBtn {
  background: hsla(0, 0%, 100%, 0);
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  margin-right: 0.6rem;
}

.arrowIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  color: var(--main-purple);
}

.arrowIcon:hover {
  color: var(--main-purple-light);
}

.selected {
  border: 2px solid var(--main-purple-light);
}
