.CarouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 85%;
}

.ImageCarousel {
  width: 85%;
  height: 4.5rem;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.ImageCarousel::-webkit-scrollbar {
  display: none;
}

.btnImage {
  flex: 1 0 15%;
  margin-right: 2%;
  cursor: pointer;
  height: 100%;
  border: none;
  border-radius: 2px;
}

.btnImage:hover {
  opacity: 0.8;
}

.arrowBtn {
  background: hsla(0, 0%, 100%, 0);
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
}

.arrowIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--main-purple);
}

.arrowIcon:hover {
  color: var(--main-purple-light);
}
